<!--prettier-ignore-->
{% extends 'layouts/blank.html' %}

{% block title %} Chat {% endblock %}

{% block content %}
<wrapper class="block max-w-4xl mx-auto px-4">
  <div
    id="chat_window"
    class="h-[45rem] flex flex-col bg-white rounded-2xl border border-neutral shadow-lg overflow-hidden"
  >
    <div
      class="flex items-center justify-center gap-2 bg-neutral-100 text-primary font-semibold p-3 sticky top-0 z-10"
    >
      <i class="bi bi-people-fill"></i>
      <span id="online-count">3</span> online
    </div>

    <div id="chat_container" class="overflow-y-auto grow bg-neutral-50">
      <ul id="chat_messages" class="flex flex-col gap-4 p-4">
        <!--prettier-ignore-->
        {% for message in chat_messages reversed %}
        {% if message.author == user %}
        <li class="flex justify-end">
          <div
            class="bg-primary text-white p-4 rounded-2xl rounded-br-md max-w-[75%]"
          >
            {{ message.body }}
          </div>
        </li>
        {% else %}
        <li>
          <div class="flex items-start gap-2">
            <a href="{% url 'profile' message.author.username %}">
              <img
                class="w-8 h-8 rounded-full object-cover border border-neutral"
                src="{{ user.profile.avatar_url }}"
              />
            </a>

            <div>
              <div
                class="bg-white text-neutral-800 p-4 rounded-2xl rounded-bl-md max-w-[75%] border border-neutral-200"
              >
                {{ message.body }}
              </div>

              <div class="text-xs mt-1 ml-2">
                <a
                  class="text-muted"
                  href="{% url 'profile' message.author.username %}"
                  >@{{message.author.username}}</a
                >
              </div>
            </div>
          </div>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>

    <!-- Input -->
    <div class="sticky bottom-0 bg-white border-t border-neutral-200 p-3">
      <form
        id="chat_message_form"
        method="POST"
        class="flex items-center gap-2"
      >
        <input
          type="text"
          name="message"
          placeholder="Add message…"
          maxlength="150"
          class="flex-grow"
        />
        <button type="submit" class="!px-4 !bg-transparent">
          <i class="bi bi-send-fill text-primary text-2xl"></i>
        </button>
      </form>
    </div>
  </div>
</wrapper>
{% endblock %}
