<!--prettier-ignore-->
{% extends 'layouts/blank.html' %}

{% block title %} Chat {% endblock %}
{% block content %}
<wrapper
  class="block max-w-4xl mx-auto px-4"
  x-data="chat()"
  x-init="scrollToButton()"
>
  <div
    id="chat_window"
    class="h-[45rem] flex flex-col bg-white rounded-2xl border border-neutral shadow-lg overflow-hidden"
  >
    <div
      class="flex items-center justify-center gap-2 bg-neutral-100 text-primary font-semibold p-3 sticky top-0 z-10"
    >
      <i class="bi bi-people-fill"></i>
      <span id="online-count">3</span> online
    </div>

    <div id="chat_container" class="overflow-y-auto grow bg-neutral-50">
      <ul id="chat_messages" class="flex flex-col gap-4 p-4">
        <!--prettier-ignore-->
        {% for message in chat_messages reversed %}
        {% include 'a_rtchat/partials/chat_bubble.html'%}
        {% endfor %}
      </ul>
    </div>

    {% include 'a_rtchat/partials/chat_form.html' %}
  </div>
</wrapper>
{% endblock %} {% block js %}
<script>
  function chat() {
    return {
      messages: [],
      body: "",
      error: null,
      sending: false,
      async sendImage() {
        this.error = null;
        this.sending = true;
        try {
          const response = api.post("{% url 'chat' %}", { body: this.body });
          if (response.data.ok) this.messages.push(response.data.message);
          this.body = "";
          this.$nextTick(() => this.scrollToBottom());
        } catch (error) {
          if (error?.response?.data?.errors?.body) {
            this.error = error.response.data.errors.body[0];
          }
        } finally {
          this.sending = false;
        }
      },
      scrollToButton() {
        const el = document.getElementById("chat_container");
        el.scrollTop = el.scrollHeight;
      },
    };
  }
</script>
{% endblock %}
